@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Sora:wght@400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border: none;
}
